.mobilenav {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #051421, #042727);
  color: white;
}

.mobile__headerIcons {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.mobile__icon {
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
}

.mobile__icon > p {
  font-size: 1.3rem;
  padding-left: 20px;
}

.mobile__close {
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
  padding-top: 40px;
}
