.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    color: white;
    /* border: 1px solid red; */
}

.header::-webkit-scrollbar{
    display: none;
}

.header{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header__icons{
    display: flex;  
    align-items: center;
    text-align: center;
}

.header__icon{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}

.header__name{
    height: 80px;
    color: white;
}

.header__name > h2 {
    font-size: 3rem;
    
} 

.header__icon > .MuiSvgIcon-root{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.header__icon:hover > p {
    display: inline;
}

.header__icon > p {
    display: none;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.search{
    display: flex;
    align-items: center;
    min-width: 300px;
    width: 60vw;
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-color: white;
    padding: 0 10px;
}

.search > input {
    flex: 1;
    height: 90%;
    border-radius: 50px;
    padding: 0 10px;
    font-size: 1.2rem;
}

.link{
    text-decoration: none;
    color:black;
}
