.searchPage {
  display: flex;
  flex-direction: column;
  color: white;
}

.searchPage__header {
  padding: 20px 0 20px 40px;
}

.search__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.search__message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
}
