.App{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #051421, #042727);
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
  /* color: white; */
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;
  border-radius: 0px;
}